@font-face {
	font-family: 'LXGW WenKai';
	src: url('https://cdn.jsdelivr.net/gh/BingGitCn/BingGitCn.github.io/LXGWWenKai-Regular.ttf');
}
 
body{
	font-family: 'LXGW WenKai';
	font-size: 20;
}

.markdown-body{
	font-family: 'LXGW WenKai';
	font-size: 18;
}

.markdown-title{
	font-family: 'LXGW WenKai';
}
